{
	"service": {
		"name": "cluster",
		"enableTagOverride": false,
		"checks": [
			{
				"script": "/usr/sbin/crm_mon -Afr1 ; /usr/sbin/crm_mon -s",
				"interval": "60s"
			}
{% if ansible_virtualization_role != "guest" %}
			,
			{
				"script": "/usr/lib/nagios/plugins/check_ntp_time -H {{ ntp_fqdn }} -w 1 -c 5",
				"interval": "60s"
			}
{% endif %}
		]
	}
}
