# {{ ansible_managed }}

# Check du cluster par script perso, paquet monitoring-plugins-crm
command[check_cluster]=sudo /usr/lib/nagios/plugins/check_cluster

{% if ansible_virtualization_role != "guest" %}
# Offset NTP
command[check_ntp_offset]=/usr/lib/nagios/plugins/check_ntp_time -H {{ ntp_fqdn }} -w 1 -c 5

# Service libvirtd
command[check_libvirtd]=/usr/lib/nagios/plugins/check_procs -C libvirtd -c 1

# Service openvswitch: 4 processus
command[check_openvswitch]=/usr/lib/nagios/plugins/check_procs --ereg-argument-array="(ovsdb-server|ovs-vswitchd)" -c 4:4
{% endif %}
