[Unit]
Description=Daemon to remotely execute Nagios plugins
After=network.target
Wants=network.target

[Service]
Type=forking
PermissionsStartOnly=true
User=nagios
Group=nagios
ExecStartPre=/bin/mkdir -p /run/nrpe
ExecStartPre=/bin/chown nagios: /run/nrpe
ExecStart=/usr/sbin/nrpe -c /etc/nrpe.cfg -d

[Install]
WantedBy=multi-user.target
Alias=nagios-nrpe-server.service
