<network>
  <name>ovs-network-{{ item.vlan }}</name>
  <forward mode='bridge'/>
  <bridge name='ovs-{{ item.bridge }}'/>
  <virtualport type='openvswitch'/>
  <portgroup name='vlan-{{ item.vlan }}' default='yes'>
{% if item.bridge != 'admin' %}
    <vlan>
      <tag id='{{ item.vlan }}'/>
    </vlan>
{% endif %}
  </portgroup>
</network>
