# {{ ansible_managed }}

# Configuration for the AMQP server to send metrics to
[[outputs.amqp]]
	## AMQP url
	url = "amqp://{{ metrologie_amqp_user }}:{{ metrologie_amqp_password }}@{{ metrologie_amqp_endpoint }}:{{ metrologie_amqp_port }}/{{ metrologie_amqp_vh }}"
	## AMQP exchange
	exchange = "linux"

	## Auth method. PLAIN and EXTERNAL are supported
	# auth_method = "PLAIN"

	## Telegraf tag to use as a routing key
	##  ie, if this tag exists, it's value will be used as the routing key
	routing_tag = "field"

	## Optional SSL Config
	# ssl_ca = "/etc/telegraf/ca.pem"
	# ssl_cert = "/etc/telegraf/cert.pem"
	# ssl_key = "/etc/telegraf/key.pem"
	## Use SSL but skip chain & host verification
	# insecure_skip_verify = false

	## Data format to output.
	## Each data format has it's own unique set of configuration options, read
	## more about them here:
	## https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_OUTPUT.md
	data_format = "graphite"

	## Graphite output template
	## see https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_OUTPUT.md
	template = "host.measurement.tags.field"
