# {{ ansible_managed }}

[[inputs.cpu]]
  ## Whether to report per-cpu stats or not
  percpu = true
  ## Whether to report total system cpu stats or not
  totalcpu = true
  ## If true, collect raw CPU time metrics.
  collect_cpu_time = false

[[inputs.kernel]]

[[inputs.swap]]

[[inputs.system]]

[[inputs.mem]]

